<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="{{STATIC_URL}}js/lib/angular.js"></script>
    <script src="{{STATIC_URL}}js/lib/jquery.js"></script>
    <script src="{{STATIC_URL}}js/lib/angular-resource.js"></script>
    <script src="{{STATIC_URL}}js/lib/django-angular.js"></script>
    <script src="{{STATIC_URL}}js/app/app.js"></script>
    <script src="{{STATIC_URL}}js/app/components/mainScreen/js/controllers/mainCtrl.js"></script>
    <style>
        .marginT20{
            margin-top: 20px;
        }
    </style>
</head>
<body ng-app="cloudComputingApp">
{% load djng_tags %}
<div ng-controller="mainCtrl" style="width:50%; margin:auto;">
    <div style="margin-top:50px;">
        <form id="apnaForm" enctype="multipart/form-data" method="POST" action="upload_image_to_aws/">
            {% csrf_token %}
            {{ form.as_table }}
            <input class="btn btn-primary" type="submit" value="Upload">
            <input class="btn btn-primary" type="button" ng-click="onClickListBtn()" value="List links">
        </form>
    </div>
<!--    For selected Item-->
    <div ng-if="selectedFile" class="marginT20">
        {% verbatim %}
        <img src="{{selectedFile.filePath}}" alt="selectedFile" height="200" width="300" class="marginT20">
        <div class="marginT20">
            <h4>Item MetaData</h4>
            <table class="table table-striped">
                <tr>
                    <td>File Name</td>
                    <td>{{selectedFile.fileName}}</td>
                </tr>
                <tr>
                    <td>File Size</td>
                    <td>{{selectedFile.fileSize}}</td>
                </tr>
                <tr>
                    <td>File Type</td>
                    <td>{{selectedFile.fileType}}</td>
                </tr>
                <tr>
                    <td>File Last Modified</td>
                    <td>{{selectedFile.fileLastModified}}</td>
                </tr>
            </table>
        </div>
        {% endverbatim %}
    </div>

<!--    For all items-->
    <div ng-if="uploadedItems" class="marginT20">
        {% verbatim %}
        <div class="marginT20">
            <h4>Item MetaData</h4>
            <table class="table table-striped">
                <tr>
                    <td>Image</td>
                    <td>File Name</td>
                    <td>File Size</td>
                    <td>File Type</td>
                    <td>Meta Data Url</td>
                </tr>
                <tr ng-repeat="item in uploadedItems">
                    <td><img src="{{item.aws_path}}" height="100" width="100"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.type}}</td>
                    <td><a href="{{item.end_point}}">{{item.end_point}}</a></td>
                </tr>
            </table>
        </div>
        {% endverbatim %}
    </div>
</div>
</body>
    {% block scripts %}
        <!--  Load Django Rmi Tags and Configure in app.js by djangoRMIProvider -->
        <script type="text/javascript">
            var djangoRmiTags = {% djng_current_rmi %};
        </script>
    {% endblock %}
</html>